{{ if (eq .chezmoi.osRelease.id "arch") -}}
#!/bin/bash
ZSH=~/.config/oh-my-zsh KEEP_ZSHRC=yes sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
{{ end -}}
